{% extends "@User/Page_admin.html.twig" %}
{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#mourad tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <style>
        a.btn {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            padding-right: 2px;
            padding-left: 2px;
        }
        .test {
            padding-left: 5rem;
            padding-right: 5rem;
        }
        .change {
            color: white;
        }
    </style>
    <div class="test">

    <div class="col-lg-20 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My products</h4>

                <div class="table-responsive pt-3">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Quantity
                            </th>

                            <th>
                                Price
                            </th>
                            <th>
                                New Price
                            </th>
                            <th>
                                image
                            </th>

                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody id="mourad">
                        {% for p in prod %}
                            {% if  p.nvquantite != null%}
                            <tr>
                                <td>
                                    {{ p.nom }}
                                </td>
                                <td>
                                    {{ p.type }}
                                </td>
                                <td>
                                    {{ p.description }}
                                </td>
                                <td>
                                    {{ p.nvquantite }}
                                </td>

                                <td>
                                    {{ p.prix }} TND
                                </td>
                                <td>
                                    {{ p.nvprix }} TND
                                </td>
                                <td>
                                    <img src="{{ asset('Upload/')}}{{ p.nomfile }}" width="100" class="img-circle" />
                                </td>

                                <td>
                                    <a class="btn btn-success a-btn-slide-text" href="{{ path('produit_Modifier',{'id':p.id}) }}">
                                        <span class="fas fa-edit" aria-hidden="true"></span>
                                        <span><strong><br> Edit</strong></span></a>
                                    <a class="btn btn-danger a-btn-slide-text" href="{{ path('produit_Supprimer',{'id':p.id}) }}">
                                        <span class="fas fa-minus-circle" aria-hidden="true"></span>
                                        <span><strong> Delete</strong></span></a>
                                </td>

                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table><br>
                    <div class="navigation text-center" >
                        {{ knp_pagination_render(prod) }}
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}